<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h1>User info</h1>
      <p><%= image_tag @user.get_profile_image(100.100) %></p>
    </div>

    <div class="col">
      <h1>Book detail</h1>
    </div>
  </div>
</div>